doctype
html
	head
		title #{title} - My Express Site
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			h1 My Node Site
		.container
			.main-content
				block content
			.sidebar
				block sidebar
			footer
				p Running on node with Express 4, Jade and Stylus.